.view-collective-container {
    background:  #fefaee;
    width: 100%;
    height: 100%;
    padding: 2em;

}
.landingBackground {
  background:  #fefaee;
  width: 100%;
  height: 100%;
}
.view-collective-container h3 {
  font-family: 'Amarante', cursive;
    font-size: 2.5em;
    color: #e6be67;
    margin: 1em;
}
.view-collective-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    background: #95aabb;
    margin-bottom: 2em;
    flex: 0 1 24%;
    width: 20em;
    height: 30em;
  }

  .card-content {
    padding: .5em;

  }

  .card-content h3 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: bold;
    color: #9FB498;
  }

  .card-content p {
    font-size: 1em;
    color: darkslategrey;
    font-family: 'Montserrat', sans-serif;
  }

  .friend-name {
    font-family: 'Montez', cursive;
    color: #e6be67;;
    font-size: 2em;
  }

  .card button {
    background-color: #fefaee;
    border: none;
    color: #c98c6d;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Montez', cursive;
    font-size: 1.5em;
    padding: .5em;
    border-radius: 2px;
    margin: .1em;
    width: 100%;
  }

  .card button:hover {
    background-color: #9FB498;
  }

  /*Friends to Add Section*/
  .friends-to-add-cards {
    background:  #fefaee;
    width: 100%;
    height: 100%;
    padding: 2em;
  }

  .friends-to-add-cards h3 {
    font-family: 'Amarante', cursive;
    font-size: 2.5em;
    color: #e6be67;
    margin: 1em;
  }