/*NewGroupForm*/


.backgroundContainer {
    background:  #fefaee;
    width: 100%;
    height: 100%;
    padding: 2em;
}
.formDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.inputDiv {
    margin-left: 5em;
}
.group_name {
    font-family: 'Amarante', cursive;
    font-size: 3em;
    color: #e6be67
}
#group_name {
    background-color: transparent !important;
    border: none;
    border-bottom: .2em solid #e6be67;
}

/*NewWithFriends*/
.friendsListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
    height: 70vh;
    overflow-y: scroll;
}
.newWithFriendsContainer {
    background:  #fefaee;
    width: 100%;
    height: 100%;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.newWithFriendsContainer h3 {
    font-family: 'Amarante', cursive;
    font-size: 2.5em;
    color: #e6be67;
    margin: 1em;
    border: none;
    border-bottom: .1em solid #e6be67;
}
.newWithFriendsContainer h2 {
    font-family: 'Amarante', cursive;
    color: #e6be67;;
    font-size: 2em;
}
.viewBtn {
    font-family: 'Raleway', sans-serif;
    color: #fefaee;
    font-size: 2em;
    background-color: #9FB498 !important;
    margin: 1em;
    border-color: #9FB498 !important;
    width: 10em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2px;
}

/*FRIENDS SECTION*/

.friendsList {
    background:  #fefaee;
    width: 100%;
    height: 100%;
}
.addBtn {
    font-family: 'Raleway', sans-serif;
    color: #fefaee;
    font-size: 1.25em;
    background-color: #9FB498 !important;
    margin: 1em;
    border-color: #9FB498 !important;
    width: 10em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2px;
}